.stringInput {
    border: none;
    font-size: 24px;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.stringInput:focus {
    outline: none;
}

.inputBlock {
    position: relative;
    display: flex;
    align-items: center;
}

.passwordIcon {
    position: absolute;
    right: 12px;
    top: 18px;
    cursor: pointer;
}

.showError input{
    border: 1px solid red;
    width: 100%;
}

.showInfo {
    position:absolute;
    right: 10px;
    top: 15px;
    color: red;
    cursor: pointer;
}

.showPassword {
    right: 45px;
}