.hooryIcon {
    margin-bottom: 45px;
}

.inputBlock {
    margin: 36px 0;
}

.nameInput {
    border: none;
    font-size: 24px;
    border-radius: 8px;
    text-align: center;
}

.assistentName {
    color: #444;
    font-size: 20px;
}

