.submitWizard {
    height: 42px;
    border-radius: 21px;
    background-color: #00C67B;
    box-shadow: 0 6px 10px -5px rgba(0,198,123,0.35);
    padding: 0 50px;
    color: #FFFFFF;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}