.wizardMenu {
    .menuItem {
        margin-bottom: 20px;
        color: white;
        text-decoration: none;
        display: flex;
    }

    .activeLink i {
        display: inline-block !important;
    }

    .title {
        text-align: center;
    }

    .border {
        border-top: 1px solid rgba(255,255,255,0.15);
        margin: 30px 0;
        width: 190px;
        display: block;
    }
}