.stepIconBlock {
    .step {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        overflow: hidden;
        display: block;
        display: flex;
        font-size: 4px;
        align-items: center;
        padding: 4px;
        justify-content: center;
        border: 1px solid;
        margin-right: 15px;
        > i {
            color: white;
        }
    }

    .wait i {
        color: transparent;
    }

    .current i {
        color:white;
    }

    .success {
        border: 1px solid #00C67B;
        background-color: #00C67B;
        color: white;
    }
}
    
